* {
  box-sizing: border-box;
}

/* verikális ritmus -1rem-nyi alsó margó minden fontosabb elemnek */
h1,h2,h3,h4,h5,h6,hgroup,ul,ol,dd,p,figure, pre,table,fieldset,hr {
  margin-bottom: 1.5rem;
}

body {
  background-image: url("https://codeberryschool.github.io/wct-4-landing/images/wedding-landing-background.png");
  background-repeat: repeat;
  background-position: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #444349;
}

.location,.gifts,.program,.qanda,.contact {
  width: 95%;
  margin: 1.5rem auto;
  padding: .5rem 1rem;
  text-align: center;
}

h1, h2 {
	font-family:'Great Vibes', cursive;
	font-size:1.125rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #bd806e;
}

a:hover {
  color: #eda087;
  transition: color .15s ease-in-out;
}

/* Full screen header setting */
.cover {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: table;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
	display:inline-block;
	padding:2rem;
	background:hsla(100,0%,0%,.5);
	
}


.cover h1{
	color:#d2ba87;
}

.cover p {
	color:hsla(0,0%,100%,.9)
}